# HAETAE keys — fresh TESTNET wallets only. Never reuse a funded/mainnet key.
# Role separation is law (RULES R5.1):
#   PRINCIPAL — mints licenses, owns admin roles; the human-accountable key
#   AGENT     — the AI agent's executing wallet; holds no protocol roles
#   SENTINEL  — holds SENTINEL_ROLE only; can revoke, can never spend
PRINCIPAL_PK=
AGENT_PK=
SENTINEL_PK=
